//Color Variables
$p-color: black;
$p-color2: whitesmoke;
$p-color3: white;
$p-color4: grey;

body {
	background-color: $p-color;
	margin-top: 150px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}
#greeting {
	.title {
		display: flex;
	input {
			margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}
}
}
#greeting .title, 
#greeting .title input {
	color: black;
	font-size: 1.5rem;
	font-weight: 700;
	border-radius: .5rem;
	border-color: $p-color2;
}