//Color Variables
$p-color: black;
$p-color2: whitesmoke;
$p-color3: white;
$p-color4: grey;

body {
	background-color: $p-color;
	margin-top: 150px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}
#greeting {
	.title {
		display: flex;
	input {
			margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}
}
}
#greeting .title, 
#greeting .title input {
	color: black;
	font-size: 1.5rem;
	font-weight: 700;
	border-radius: .5rem;
	border-color: $p-color2;
}
.container {
	// padding: 20px;
	width: 300px;
	// margin: 0 auto;
	// margin-top: 40px;
	background-color: $p-color3;
	border-radius: .5rem;
	box-shadow: 5px 5px 15px 3px $p-color2;
}
form {
	display: inline-block;
}
input {
    align-content: center;
	padding: 4px 15px 4px 5px;
	position: relative;
	border-radius: .5rem;
	box-shadow: 5px 5px 15px 3px $p-color2;
}

//+Add button
#btn {
	display: inline-block;
	color: $p-color2;
	background-color: $p-color4;
	border-radius: .5rem;
	font-weight: 600;
	text-align: center;
	margin-top: 2px;
	padding: 5px 15px;
    align-items: center;
}

//Mouse hovering
    :hover {
 cursor: pointer;
	opacity: 1;
}

//Added To-do items
	ul {
		padding-left: 20px;
		font-weight: bolder;
		li {
		padding: 5px;
		color: $p-color;
		font-weight: bolder;
		li {
			&:nth-child(even) {
				background-color: $p-color4;
				color: $p-color2;
				font-weight: bolder;
			}
		}
	}
}
.strike {
	text-decoration: line-through;
}
li {
	&:hover {
		cursor: pointer;
	}
}

#date {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
